@using StoreProject.ViewModels
@model StoreProject.ViewModels.ProductListViewModel


@{
    ViewData["Title"] = "Index";

    ProductListViewModel pager = new ProductListViewModel();

    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Products" asp-action="Index" method="Get">
    <p>
    Product Name : <input asp-for="SearchString" />

    Brand Name: 
    <select asp-for="SelectedBrand" asp-items="Model.Brands"> 
    <option value="">All</option>
    </select>
    Category Name : 
    <select asp-for="SelectedCategory" asp-items="Model.Categories">
    <option value="">All</option>
    </select>
    Model Year :
    <select asp-for="SelectedYear" asp-items="Model.ModelYears">
    <option value="">All</option>
    </select>

    <input type="submit" value="Filter" /> 

    </p>
</form>
    
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].ProductName)
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].BrandId)
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].ModelYear)
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].ListPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BrandId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ListPrice)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_pager" model="@pager" />
